body {
    font-family: sans-serif;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 25px;
}

fieldset {
    background-color: #eeeeee;
    text-align: center;
    padding-bottom: 50px;
}

legend {
    background-color: #009879;
    color: #ffffff;
    padding: 10px 10px;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

input {
    margin: 5px;
}

input:invalid {
    border: 2px solid red;
}

button {
    border-radius: 3px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #009879;
    background-color: #009879;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #00987aa8;
    color: white;
}

button:active {
    background-color: white;
    color: #009879;
}

button:disabled {
    color: grey;
    background-color: white; 
    border: 2px solid grey;
    cursor: text;
}

#sliding-window {
    font-size: 20px;
}

#decode-string {
    font-size: 20px;
}

.bold-text {
    font-weight: bold;
    font-size: 25px;
}

.green-text {
    color: #009879;
    font-weight: bold;
    font-size: 25px;
}

.red-text {
    color: red;
    font-weight: bold;
    font-size: 25px;
}
  
.header {
    background-color: #009879;
    color: #ffffff;
    padding: 10px 10px;
    margin: 15px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.number-input {
    text-align: right;
}

.text {
    float: left;
    width: 50%;
}

.dictionary {
    float: right;
    width: 50%;
}

.styled-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}